@use "./variables.scss" as *;

// put your custom CSS here!


// Image of Kazuha on the left sidebar at the top
// .left::before {
//     content: "";
//     display: block;
//     width: 75%;
//     aspect-ratio: 1;
//     background-image: url("https://cookies-notes.pages.dev/images/kazu.png");
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//     margin: 0 auto;
// }

//##########################################################
// Sidebar elements
//##########################################################

// Reduces gap of elements on the left sidebar
.left.sidebar, .right.sidebar {
    gap: 0rem;
}
// Enlarge effect on files in Exploerer
.explorer a:hover, .explorer .nav-file-title.active {
    font-size: 1.025em;
    transition: font-size 0.15s ease;
}
.explorer a {
    transition: font-size 0.15s ease;
}
// Underline effect on file currnetly hovered over in Explorer
.explorer a:hover {
    text-decoration: underline;
}
// Coloration of the tabs in the Table of Contents
ul.toc-content.overflow>li>a.in-view {
    opacity: 1;
    font-weight: normal;
}
ul.toc-content.overflow>li>a {
    opacity: .125;
    font-weight: normal;
    transition: opacity 3s ease;
}
// Aligns Search to be centered
.left.sidebar .search {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
// Adjusts Table of Contents height
.toc-content.overflow {
    max-height: none;
}


//##########################################################
// Page elements
//##########################################################

// Modifies the `single tick` code blocks
code:not(pre code) {
    background-color: transparent;
}
// Page previews
a.internal {
    background-color: transparent;
}
a.internal:hover {
    color: #ED7014;
    text-decoration: underline;
}
// Gets rid of the "#" on tags
.tag-link {
  display: inline-block;
}
.tag-link::first-letter {
  font-size: 0;
  letter-spacing: -1px;
}
// Makes bolded text more bold
strong {
  font-weight: 900;
}
// Creates a blank callout
.callout {
  &[data-callout="blank"] {
    --callout-icon: none;
    --color: transparent;
    --border: transparent;
    --bg: transparent;
  }
}
.callout[data-callout="blank"] .callout-title > .callout-title-inner > p,
.callout[data-callout="blank"].is-collapsed > .callout-title > .fold-callout-icon,
.callout[data-callout="blank"] .callout-title .fold-callout-icon {
    --color: var(--dark);
}
.callout[data-callout="blank"] {
  margin-left: 0;
  padding-left: 0;
  margin-top: -10;
  margin-bottom: -10;
}

//##########################################################
// Disabling rendering of stuff
//##########################################################

button.mobile-explorer h2, button.desktop-explorer h2, 
.explorer .fold, 
button.toc-header h3, button.toc-header .fold, 
.page-listing, 
::-webkit-scrollbar, 
.callout[data-callout="blank"] .callout-icon,
.breadcrumb-element:first-child { 
    display: none;
}





//##########################################################
// Handles the background grid effect
//##########################################################
// By ChatGPT
$grid-fade-start: 50%;
$grid-fade-end: 100%;
// body {
//   background-color: #161618;
//   position: relative;
//   min-height: 100vh;
// }
// body::before,
// body::after {
//   content: "";
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   width: 50%;
//   background-image:
//     linear-gradient(rgba(237, 112, 20, 0.1) 1px, transparent 1px),
//     linear-gradient(90deg, rgba(237, 112, 20, 0.1) 1px, transparent 1px);
//   background-size: 30px 30px;
//   pointer-events: none;
//   z-index: -1;
// }
// // Left
// body::before {
//   left: 0;
//   animation: drift-right 5s linear infinite;

//   mask-image: linear-gradient(
//     90deg,
//     black 0%,
//     transparent $grid-fade-start,
//     transparent 100%
//   );
//   -webkit-mask-image: linear-gradient(
//     90deg,
//     black 0%,
//     transparent $grid-fade-start,
//     transparent 100%
//   );
// }
// // Right
// body::after {
//   right: 0;
//   animation: drift-left 5s linear infinite;

//   mask-image: linear-gradient(
//     90deg,
//     transparent 0%,
//     transparent $grid-fade-end - 50%,
//     black 100%
//   );
//   -webkit-mask-image: linear-gradient(
//     90deg,
//     transparent 0%,
//     transparent $grid-fade-end - 50%,
//     black 100%
//   );
// }
// @keyframes drift-right {
//   from { background-position: 0 0; }
//   to   { background-position: 30px 0; }
// }
// @keyframes drift-left {
//   from { background-position: 0 0; }
//   to   { background-position: -30px 0; }
// }
// @keyframes drift-right {
//   from { background-position: 0 0; }
//   to   { background-position: 30px 0; }
// }